.top-header {
    background-color: skyblue;
    text-align: center;
    padding: 5px;
    font-size: 32px;
}

.file-input {
    background-color: skyblue;
    text-align: center;
    font-size: 16px;

    margin-right: 10px;
    margin-top: 10px;

    float: left;
    width: 50%;
    min-height: 90px;
}

.loaded-img {
    background-color: skyblue;
    text-align: center;

    margin-right: 10px;
    margin-top: 10px;

    float: left;
    width: 50%;
    min-height: 200px;
}

.options {
    background-color: skyblue;
    text-align: center;
    font-size: 16px;

    margin-top: 10px;

    display: flex;
    flex-direction: column;
    min-height: 90px;
}

.preview {
    background-color: skyblue;
    text-align: center;
    font-size: 16px;

    margin-top: 10px;

    display: flex;
    flex-direction: column;
    min-height: 200px;
}

.download {
    background-color: skyblue;
    text-align: center;

    font-size: 16px;

    margin-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
    min-height: 50px;
}